/* Styles in main index */
.phil-text-container {
    background-color: rgb(214, 184, 106);
    padding: 1%;
    border-radius: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.phil-text {
    background-color: white;
    padding: 16%;
    border-radius: 300px;
    text-align: center;
    font-size: 18pt;
    color: black;
}

.philanthropy-text {
    font-size: 20pt;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width:960px) {
    .phil-text-container {
        width: 60%;
        transform: none;
    }

    .phil-text {
        font-size: 14pt;
    }
}

/* Styles for quotation */
.quotation-container {
    /* background-color: teal; */
    background-color: rgb(214, 184, 106);
    padding: 4%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    text-align: center;
}

.quotation-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.quot-img, .quot-text {
    padding: 4%;
}

.quot-image {
    border-radius: 20px;
}

.quotation {
    font-style: italic;
    font-size: 17pt;
    font-weight: 600;
    color: rgba(58, 42, 3, 0.836);
}

@media screen and (max-width: 960px) {
    .quotation-grid {
        grid-template-columns: auto;
    }

    .quotation {
        font-size: 17pt;
    }
}

/* Styles for phil-card items */
.phil-items-grid {
    /* define grid here */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 100px;
    margin-right: 3%;
}

.phil-item-container {
    padding: 2%;
    margin: -5px -5px -5px -5px;
    border-radius: 20px;
    background-color: white;
}

.phil-item-card {
    background-color: rgb(214, 184, 106);
    padding: 3%;
    border-radius: 20px;
}

.phil-item-logo {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    margin-top: 10px;
}

.phil-logo-description {
    background-color: white;
    padding: 4%;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    min-height: 350px;
}

.phil-logo-title {
    color: rgba(184, 135, 11, 0.836);
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}

.phil-logo-text {
    font-size: 14pt;
    margin-top: 40px;
    color: black;
}

@media screen and (max-width: 1260px) {
    .phil-items-grid {
        grid-template-columns: 50% 50%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 960px) {
    .phil-items-grid {
        grid-template-columns: auto;
        margin-left: 15%;
    }

    .phil-item-card {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .phil-item-logo {
        height: 110px;
    }

    /* To adjust the grid gaps regarding the spacing caused ny the empty divs */
    #card-grid-adj {
        margin-bottom: 200px;
    }
}