.contact {
    background-image: linear-gradient(to top, rgba(0, 128, 128, 0.479), rgba(0, 0, 0, 0.3), #2a007ea4);
}

.back-to-main {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-weight: 600;
}

.back-to-main:hover {
    text-decoration: none;
    color: #15023a;
}

.contact-header {
    text-align: center;
    font-size: 24pt;
    color: white;
}

.contact-container {
    padding: 4%;
}

.contact-card {
    padding: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid rgba(10, 45, 121, 0.4);;
}

.contact-label {
    font-size: 13pt;
    font-weight: 600;
    font-style: italic;
    color: grey;
    margin-top: 20px;
}

.contact-input {
    width: 100%;
    padding: 2%;
    font-size: 13pt;
    border: 1px solid rgba(120, 120, 120, 0.4);
}

.contact-textarea {
    min-width: 100%;
    min-height: 20vh;
    font-size: 13pt;
    border: 1px solid rgba(120, 120, 120, 0.4);
}

.submit-btn {
    width: 100%;
    margin-top: 50px;
    padding: 1.5%;
    font-size: 13pt;
}

/* Thank you message here */
.thank-you-msg {
    text-align: center;
    position: fixed;
    background-color: white;
    margin-top: 300px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 4%;
    border-radius: 50px;
}

@media screen and (max-width: 960px) {
    .contact-card {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .thank-you-msg {
        margin-top: 200px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}