.section-header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(214, 184, 106));
    color: blackwhite;
    padding: 1%;
    border-radius: 30px;
    text-align: right;
    margin-top: 60px;
}

.heading {
    font-size: 35pt;
    margin-right: 7%;
}

@media screen and (max-width: 960px) {
    .heading {
        font-size: 25pt;
    }
}