.awards-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    /* define grid here */
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 30px;
}

.awards-img {
    margin-top: 80px;
    border-radius: 20px;
}

.awards-heading {
    font-weight: 700;
    margin-bottom: 30px;
}

.awards-para {
    font-size: 16pt;
}

@media screen and (max-width:960px) {
    .awards-container {
        grid-template-columns: auto;
    }
}