.footer-container {
    color: cyan;
    background-color: #15023a;
    padding: 0.6%;
    height: 100px;
    text-align: center;
    font-size: 12pt;
}

footer {
    background-color: rgb(2, 95, 95);
    height: 80px;
    color: cyan;
    width: 100%;
    padding: 1.5%;
    text-align: center;
    font-size: 10pt;
    /* define grid here */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    column-width: auto;
}

.social-medias {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    /* define grid here */
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.back-to-top {
    text-decoration: none;
    color: cyan;
}

.back-to-top:hover {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 960px) {

    .footer-container {
        height: 130px;
        padding: 3%;
    }

    footer {
        grid-template-columns: auto;
        font-size: 12pt;
        height: 80px;
    }

    .social-medias {
        width: 100%;
        font-size: 30pt;
    }
}