.business-text {
    font-size: 20pt;
    text-align: center;
}

.business-logos-grid {
    margin-top: 100px;
    /* define grid here */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.business-logo {
    min-height: 7vh;
}

@media screen and (max-width: 960px) {
    .business-logos-grid {
        grid-template-columns: auto;
        grid-gap: 70px;
    }

    .img-fluid {
        height: auto;
    }
}

.business-logo, .business-logo-description {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.business-logo-description {
    background-color: #f0e79b;
    padding: 2%;
    border-radius: 20px;
    transform: rotate(-90deg);
}

.bus-logo-desc-container {
    background-color: white;
    padding: 4%;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    color: rgba(184, 135, 11, 0.836);
    border-radius: 20px;
}

@media screen and (max-width:960px) {
    .business-logo-description {
        transform: none;
    }    
}